<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Inteview Test" verbose="2">
    <test name="Search at Google">
        <parameter name = "testParam" value = "Webdriver" />
        <classes>
            <class name="seleniumTests.saucedemo.SauceDemo">
                <methods>
                    <include name="LoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>